.app.dark {
  --bg-color: rgb(8 8 150);
  --inverted-bg-color: rgb(194 191 191);
  --primary-color: rgb(7 196 7);
  --secondary-color: rgb(7 252 7);
  --inverted-primary-color: rgb(8 74 160);
  --inverted-secondary-color: rgb(14 106 226);
}
